@charset "UTF-8";
.row{margin:5px}
.o_u{display: inline-block;text-rendering: auto;font-size: 12px;  background: #6fef84;  color: #0b8a20;  vertical-align: top;  font-size:12px}
.true{color:green;font-weight:bold}
.false{color:red}
p{font-size:14px;line-height:1.75em;}
p span{display:inline-block;}
body{overflow:hidden}
.o_header{width:200px;overflow-y:scroll;}
.o_header .logo{margin:10px 10px;height:30px;display:inline-block}
.contbox{padding:10px!important;box-sizing:border-box;overflow-y:scroll}

.o_menulist{display:block}
.o_menulist li{display:block;line-height:1.2em;padding:7px 10px}
.o_menulist li a{color:white;font-size:14px}
.o_menu{background:#3ca14d}
.o_menu_link{font-size:22px;cursor:pointer;}
@media (max-width:991px){/*md & sm & xs*/
    body{overflow-y:scroll;}
    .o_header{width:100%!important;height:auto!important;min-height:auto!important;overflow-y:visible;}
    .o_header .logo{margin:10px 10px;}
    .contbox{width:100%!important;height:auto!important;overflow-y:visible;}
    .o_menu_link{display:block;position:absolute;top:0;right:0}
    .o_menu.menu1{position:absolute;right:-250px;top:0;width:250px;height:100%;text-align:left;overflow-y:scroll;background:#4faf5f}
    .o_menu.menu1 .o_menulist{margin:20px;display:block}
}